name: Vorpal Code Analysis

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  vorpal-reviewdog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46.0.1
        with:
          separator: ','

      - name: Vorpal with reviewdog (scan changed JS files in PR)
        if: github.event_name == 'pull_request'
        uses: checkmarx/vorpal-reviewdog-github-action@v1.2.0
        with:
          source_path: "NodeGoat/**/*.js"
          filter_mode: added
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          level: error
          fail_on_error: false
          folders_to_ignore: "node_modules,dist,build"

      - name: Vorpal scan all NodeGoat files (on push)
        if: github.event_name == 'push'
        uses: checkmarx/vorpal-reviewdog-github-action@v1.2.0
        with:
          source_path: "NodeGoat/**/*.js"
          filter_mode: nofilter
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-check
          level: error
          fail_on_error: false
          folders_to_ignore: "node_modules,dist,build"
